.form-item {
  padding: 9px 0;
  margin: 0 !important;
}
#drupal-twitter-settings .form-type-radios label {
  float: left;
  margin-right: 5px;
}
#drupal-twitter-settings .form-type-radios .feed-type {
  overflow: hidden;
}
#drupal-twitter-settings .form-type-radio,
#drupal-twitter-settings .form-type-radio input {
  float: left;
  margin-right: 5px;
}
#drupal-twitter-settings .form-type-radio input {
  width: 16px;
  height: 16px;
}
